<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSourceCredentials>
		<MutualOfEnumclaw>
			<add key="Username" value="AzureDevOps" />
			<add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
		</MutualOfEnumclaw>
	</packageSourceCredentials>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="MutualOfEnumclaw" value="https://pkgs.dev.azure.com/mutualofenumclaw/_packaging/mutualofenumclaw/nuget/v3/index.json" />
	</packageSources>
</configuration>